.links{
    margin: 2rem 0 0 0;
    @media (min-width: 1000px){
        margin: 2rem 0;
    }
    font-size: 3rem;
    gap: 5rem;
    @media (min-width: 1000px){
        font-size: 4rem;
    }
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        color: white;
        transition: all .2s ease-in-out;
    }
    a:hover{
        transform: scale(1.15);
    }
    a:active{
        color: rgb(247, 93, 93);
        transform: scale(1.15);
    }
    .github{
        animation: fadeIn 6s;
    }
    .linkedin{
        animation: fadeIn 7s;
    }
    .twitter{
        animation: fadeIn 8s;
    }
}

@keyframes fadeIn {
    0%,50%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}