.navbar{
    position: absolute;
    top: 0;
    display: flex;
    background-color: #212121;
    color: white;
    opacity: 80%;
    padding: 1.5rem 1rem 0.75rem 1rem;
    gap: 2rem;
    @media (min-width: 1000px){
        gap: 4rem;
    }
    border-bottom: 1px solid white;

    a{
        font-weight: bold;
        border-radius: 0.5rem;
        transition: all .2s ease-in-out;
    }
    a:hover{
        transform: scale(1.15);
    }
    a:active{
        color: rgb(247, 93, 93);
        transform: scale(1.15);
    }
}